dlib==20.0.0
newsapi_python==0.2.7
numpy==2.3.4
opencv_python==4.11.0.86
pandas==2.3.3
python-dotenv==1.2.1
Requests==2.32.5
scikit_learn==1.7.2
torch==2.7.0+cu118
tqdm==4.67.1
transformers==4.52.4
tweepy==4.15.0
